@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", sans-serif;
  --color-dark: #0a0a0a;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
}

#root {
  width: 100vw;
  height: 100vh;
}
